
.blockMain {
    background-color: #fafaf1;
    display: flex;
    flex-wrap: nowrap;

}

.blockPosts {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    border-radius: 5px;
    margin: 10px;
    color: #483D8BFF;
    font-size: large;
}

.blockPostDetails {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    height: 10%;
    position: sticky;
    top: 10px;
    padding: 20px;
    border-radius: 5px;
    color: #392d7e;
    font-size: 1.8rem;
}

.blockPost {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 29%;
    align-items: center;
    background-color: #d6e8d6;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    font-size: large;
}

.blockContent {
    padding: 5px;

}

.button {
    margin-top: 10px;
    text-align: center;
    width: 60%;
    background-color: #b7d2ec;
    color: #414244;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #75a5dc;
}

.button:active {
    background-color: #2b578a;
}

span {
    color: #020101;
    text-transform: capitalize;
}





